body{
  padding: 50px;
  margin: 50px;
}

#contenidoPdf{
  background-color: white;
  padding: 20px;
}

.btn{
  margin: 15px
}

/* .main-title{
  /* display: flex; */
  /* justify-content: right; */


.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.main-title{
  padding-left: 150px;
}

/* label{
  font-size: xx-small;
} */

/* input {
  float: left;
} */